header {
    background-color: #E2F0CB;
    text-align: center;
}

#avatar {
    width: 100px;
    height: 100px;
}

#name, #count {
    font-family: 'Courier New', Courier, monospace;
}

.specs {
    font-family: 'Courier New', Courier, monospace;
}

main {
    width: 80%;
    background-color:#B5EAD7;
    margin: 0px auto;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    text-align: center;
}

.action {
    margin: 10px;
}